* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header {
    background-image: url(images/banner-bg.png);
    width: 100%;
    height: 640px;
    padding: 0 20px;
    background-position: top;
    background-size: 100%;  
    background-repeat: no-repeat;
}
.inner {
    width: 75%;
    margin: 0 auto;
}
header nav {
    display: flex;
    height: 60px;
    padding: 50px 0;
    justify-content: space-between;
    align-items: center;
}
header nav a {
    color: #fff;
}
header nav .logo {
}
header nav .mainmenu {
    display: flex;
    width: 500px;
}
header nav .mainmenu li a{
    display: block;
    padding: 20px;
}
header nav .submenu {
    display: flex;
}
header nav .submenu li {
    margin-right: 10px;
}
header nav .submenu li:last-child {
    margin-right: 0;
}
header nav .submenu li a {
    display: block;
    padding: 10px;
}
header nav .submenu li .pick {
    background-color: #c6610F;
    border-radius: 10px;
    transition: .3s;
}
.header-contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
}
.header-contant .contants {
    color: #fff;
    width: 50%;
}
.header-contant .contants .title {
    font-size: 70px;
    font-weight: 700;
    margin: 50px 0 30px;
}
.header-contant .contants .button {
    display: flex;
    margin: 30px 0;
}
.header-contant .contants .button .btn {
    background-color: #fff;
    color: #000;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    line-height: 50px;
    margin-right: 20px;
    cursor: pointer;
}
.header-contant .contants .button .btn-color {
    background-color: #c6610F;
    color: #fff;
}
.header-contant img{
    width: 550px;
    height: 350px;
}
.section1 {
    width: 100%;
    float: left;
    background-image: url(images/about-bg.png);
    height: 700px;
    background-size: 100%;
    padding: 140px 0;
    background-repeat: no-repeat;

}
.section1-contant {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 140px;
}
.section1-contant img {
    max-width: 100%;
    height: 320px;
    display: block;
}
.section1-contant .contants {
    display: flex;
    flex-direction: column;
    height: 351px;
    align-items: flex-end;
    justify-content: space-around;
}
.section1-contant .contants .title {
    border-bottom: 1px solid #000;
    width: 230px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.section1-contant .contants .title span:nth-child(2) {
    color: #c6610F;
}
.section1-contant .contants .contant {
    margin: 20px 20px 20px 0;
    padding-top: 30px;
    text-align: right;
}
.section1-contant .contants .button {
    background-color: #c6610F;
    color: #fff;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    line-height: 50px;
    margin-right: 20px;
    cursor: pointer;
}
